{% extends 'base/natural-user.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>¡Bienvenido a Cholito!</h1>
        </section>
        <!-- Main content -->
        <section class="content">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                ¿Cómo adopto un animalito?
                            </h3>
                        </div>
                        <div class="box-body">
                            <p>
                                Primero, debes seleccionar una ONG en el mapa
                                haciendo clic sobre esta. Luego podrás elegir
                                algún animal que esta bajo el cuidado de la
                                ONG.
                            </p>
                            <p>
                                Si lo deseas, en el menú de la izquierda puedes
                                hacer filtros por tipo y edad estimada del
                                animal.
                            </p>
                            <p>
                                El mapa está centrado en tu posición actual :)
                            </p>
                            <!-- <br> -->
                            <!-- <div id="map" class="c-map"></div> -->
                            <!-- <div class="c-map" style="text-align:center;">
                                <img src="{% static 'img/mapa.jpg' %}"
                                    class="c-map__img img-responsive" alt="Map">
                                <img src="{% static 'img/pin1.png' %}"
                                    class="img-responsive c-pin--1" alt="Pin 1">
                                <img src="{% static 'img/pin2.png' %}"
                                    class="img-responsive c-pin--2" alt="Pin 2">
                                <img src="{% static 'img/pin3.png' %}"
                                    class="img-responsive c-pin--3" alt="Pin 3">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div id="map" class="c-map"></div> -->
            <div class="c-map" style="text-align:center;">
                <img src="{% static 'img/mapa.jpg' %}"
                    class="c-map__img img-responsive" alt="Map">
                <a href="{% url 'animal:animals-for-adoption' %}">
                    <img src="{% static 'img/pin1.png' %}"
                        class="img-responsive c-pin--1" alt="Pin 1">
                </a>
                <a href="{% url 'animal:animals-for-adoption' %}">
                    <img src="{% static 'img/pin2.png' %}"
                        class="img-responsive c-pin--2" alt="Pin 2">
                </a>
                <a href="{% url 'animal:animals-for-adoption' %}">
                    <img src="{% static 'img/pin3.png' %}"
                        class="img-responsive c-pin--3" alt="Pin 3">
                </a>
            </div>
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block js %}
    <!-- <script>
        function myMap() {
            var mapCanvas = document.getElementById("map");
            var myCenter = new google.maps.LatLng(-33.457394,-70.664601);
            var centerOne= new google.maps.LatLng(-33.453291,-70.667269);
            var centerTwo = new google.maps.LatLng(-33.455908, -70.674335);
            var centerThree = new google.maps.LatLng(-33.466617, -70.676903); 
            var mapOptions = {center: myCenter, zoom: 15};
            var map = new google.maps.Map(mapCanvas,mapOptions);
            var myCity = new google.maps.Circle({
                center: myCenter,
                radius: 15,
                strokeColor: "#0000FF",
                strokeOpacity: 0.7,
                strokeWeight: 2,
                fillColor: "#0000FF",
                fillOpacity: 0.4
            });
            var map = new google.maps.Map(mapCanvas,mapOptions);
            myCity.setMap(map);
            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(map, event.latLng);
            });
            var infowindow = new google.maps.InfoWindow({
                content:"ONG Favorita"
            });
            var markerOne = new google.maps.Marker({
                position: centerOne,
                icon: "favorito.png"
            });
            markerOne.setMap(map);
            infowindow.open(map,markerOne);
        }

        function placeMarker(map, location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            var infowindow = new google.maps.InfoWindow({
                content: 'Nombre ONG'
            });
            infowindow.open(map,marker);
        }
    </script> -->
    <!-- Mapa de google -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKrwK5Ra7Lrbam0i1ifeMrlPHnN1Tctpk&callback=myMap"></script>     -->
{% endblock %}
