{% extends 'base/natural-user.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Agregar Denuncia</h1>
        </section>
        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success">
                        <div class="box-body">
                            <p>
                                Por favor, completa este formulario para
                                denunciar una situación de abandono o
                                maltrato.
                            </p>
                            <form action="" method="POST">
                                {% csrf_token %}

                                <div class="box-body">
                                    <!-- <div class="form-group">
                                        <label>
                                            Tipo de denuncia
                                        </label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-1"
                                                            value="option1">
                                                        Abandono en la calle
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-2"
                                                            value="option1">
                                                        Exposición a temperaturas
                                                        extremas
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-3"
                                                            value="option1">
                                                        Falta de agua
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-4"
                                                            value="option1">
                                                        Falta de comida
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-5"
                                                            value="option1">
                                                        Violencia
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"
                                                            name="type-complaint-6"
                                                            value="option1">
                                                        Venta ambulante
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="type-complaint">
                                                    Tipo de Denuncia
                                                </label>
                                                <select class="form-control"
                                                    name="type_complaint"
                                                    id="type_complaint">
                                                    <option></option>
                                                    <option>
                                                        Abandono en la Calle
                                                    </option>
                                                    <option>
                                                        Exposición a
                                                        temperaturas exrtremas
                                                    </option>
                                                    <option>
                                                        Falta de agua
                                                    </option>
                                                    <option>
                                                        Falta de comida
                                                    </option>
                                                    <option>
                                                        Violencia
                                                    </option>
                                                    <option>
                                                        Venta ambulante
                                                    </option>
                                                </select>
                                                <p class="help-block">
                                                    Seleccione la opción que
                                                    mejor represente la
                                                    situación.
                                                </p>
                                            </div>
                                            <div class="form-group">
                                                <label for="input-type-animal">
                                                    Tipo de animal
                                                </label>
                                                <select class="form-control"
                                                    id="type_animal"
                                                    name="type_animal"
                                                    placeholder="Enter email">
                                                    <option value=""></option>
                                                    <option>Perro</option>
                                                    <option>Gato</option>
                                                    <option>Loro</option>
                                                    <option>Vaca</option>
                                                    <option>Caballo</option>
                                                    <option value="">Otro</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="input-color">
                                                    Color general
                                                </label>
                                                <input type="text"
                                                    class="form-control"
                                                    id="color"
                                                    name="color">
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    Sexo
                                                </label>
                                                <br>
                                                <label class="radio-inline">
                                                    <input type="radio"
                                                        name="sex"
                                                        value="macho">
                                                    Macho
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio"
                                                        name="sex"
                                                        value="hembra">
                                                    Hembra
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label>
                                                    ¿Se encuentra herido?
                                                </label>
                                                <br>
                                                <label class="radio-inline">
                                                    <input type="radio"

                                                        name="hurt"
                                                        value="si">
                                                    Sí
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio"
                                                        name="hurt"
                                                        value="no">
                                                    No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label"
                                                    for="description">
                                                    Descripción
                                                </label>
                                                <textarea name="description" id="description"
                                                    rows="6"
                                                    class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer text-right">
                                    <button
                                        type="submit"
                                        class="btn btn-primary">
                                        <i
                                            class="fa fa-paper-plane"
                                            aria-hidden="true">
                                        </i>
                                        &nbsp;
                                        Enviar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block js %}
{% endblock %}
