{% extends 'complaint/base.html' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>Estadísticas de Denuncias</h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            
            Estadísticas de denuncias.
    
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}

{% block js %}
{% endblock %}
