{% extends 'base/natural-user.html' %}
{% load static %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>ONG Favoritas</h1>
        </section>
        <!-- Main content -->
        <section class="content">

                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <!-- Widget: user widget style 1 -->
                        <div class="box box-widget widget-user">
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <!-- <div class="widget-user-header bg-black" style="background: url('dist/img/photo1.png') center center;"> -->
                            <div class="widget-user-header bg-purple-active">
                                <h3 class="widget-user-username">Fundación EDRA</h3>
                                <h5 class="widget-user-desc">
                                    <i class="fa fa-star c-star"></i>
                                    182
                                </h5>
                            </div>
                            <div class="widget-user-image">
                                <img class="img-circle" src="{% static 'img/ong-edra.png' %}" alt="User Avatar">
                            </div>
                            <div class="c-box__footer">
                                <a href="#" type="button" class="btn btn-primary">
                                    Ver
                                </a>
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}
